## MLP Classification

We'll use MNIST dataset for classification.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.datasets import fetch_openml
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [2]:
d = pd.read_csv('CSM dataset.csv', sep = ";")
df = d.dropna()
X = df[["Views", "Likes", "Dislikes"]]
y = df[["Genre"]]
df.head()

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014.0,6.3,8.0,9130.0,4000000.0,45.0,1.0,0.0,3280543.0,4632.0,425.0,636.0,1120000.0
1,22 Jump Street,2014.0,7.1,1.0,192000000.0,50000000.0,3306.0,2.0,2.0,583289.0,3465.0,61.0,186.0,12350000.0
2,3 Days to Kill,2014.0,6.2,1.0,30700000.0,28000000.0,2872.0,1.0,0.0,304861.0,328.0,34.0,47.0,483000.0
3,300: Rise of an Empire,2014.0,6.3,1.0,106000000.0,110000000.0,3470.0,2.0,0.0,452917.0,2429.0,132.0,590.0,568000.0
4,A Haunted House 2,2014.0,4.7,8.0,17300000.0,3500000.0,2310.0,2.0,0.0,3145573.0,12163.0,610.0,1082.0,1923800.0

In [3]:
# Split data into train partition and test partition
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.3)

In [4]:
mlp = MLPClassifier(
    hidden_layer_sizes=(40,),
    max_iter=100,
    alpha=1e-4,
    solver="sgd",
    verbose=1,
    random_state=1,
    learning_rate_init=0.2,
)

In [5]:
mlp.fit(X_train, y_train)

C:\Users\Asus\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1109: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Iteration 1, loss = 34.65736705
Iteration 2, loss = 2180248.97737004
Iteration 3, loss = 500709338543704128.00000000
Iteration 4, loss = 1018631076733315200.00000000
Iteration 5, loss = 1640372513587944192.00000000
Iteration 6, loss = 2325984933655106560.00000000
Iteration 7, loss = 3045132111169984512.00000000
Iteration 8, loss = 3775061725960537088.00000000
Iteration 9, loss = 4498982429069912576.00000000
Iteration 10, loss = 5204767463228030976.00000000
Iteration 11, loss = 5883920973385190400.00000000
Iteration 12, loss = 6530755458696922112.00000000
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(40,), learning_rate_init=0.2, max_iter=100,
              random_state=1, solver='sgd', verbose=1)

In [6]:
print("Training set score: %f" % mlp.score(X_train, y_train))
print("Test set score: %f" % mlp.score(X_test, y_test))

Training set score: 0.315385
Test set score: 0.245614